.myBtn{
    margin: 10px 0;
    padding: 5px 15px;
    color: white;
    background-color: rgb(65, 50, 85);
    font-size: 14px;
    border: 2px solid rgba(0, 0, 0, 0.295);
    border-radius: 4px;
    cursor: pointer;
}